<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">./logs</property>
        <property name="FILE_NAME">lww-rabbitmq</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%X{requestId}|%date{yyyy-MM-dd HH:mm:ss}|[%t]|%p|%l|%m%n"/>
        </Console>

        <RollingRandomAccessFile name="running-log" fileName="${LOG_HOME}/${FILE_NAME}-${date:yyyy-MM-dd}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%X{requestId}|%date{yyyy-MM-dd HH:mm:ss}|[%t]|%p|%l|%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="running-log"/>
        </Root>
    </Loggers>
</Configuration>